[Desktop Entry]
Encoding=UTF-8
Name=The Porthole Portage Frontend
Comment=Use a GTK-based frontend to the Gentoo package management system
Icon=../porthole/pixmaps/porthole-icon.png
Exec=sudo porthole -d
Type=Application
Categories=Application;System;
Terminal=true
