[Desktop Entry]
Encoding=UTF-8
Name=The Porthole Portage Frontend
Name[de]=Die Porthole Portage Oberfläche
Name[fr]=L'application graphique pour Portage
#Name[<lang>]=
Comment=Use a GTK-based frontend to the Gentoo package management system
Comment[de]=Eine GTK-basierende Oberfläche zum Gentoo package management system
Comment[fr]=Une appli graphique GTK pour le système de gestion de packetages de Gentoo
#Comment[<lang>]=
Icon=/usr/share/porthole/pixmaps/porthole-icon.png
Exec=porthole
Type=Application
Categories=Application;System;
